[Desktop Entry]
Version=1.0
Type=Application
Name=Maestral
Exec={{ active_user_homedir }}/.local/bin/maestral_qt --config-name maestral
Icon=maestral
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2
X-KDE-autostart-after=panel
